.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin-top: 30px;
}

nav {
  margin-bottom: 100px;
}

.container {
    max-width: 500px;
}

#modal {
  max-width: 500px;
  margin: 0 auto;
}